* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
}

.canvas-container{
  background-color: #f4f4f4;
  /* margin: 0 auto; */
  width: 100vw;
  height: 50vh;
  border: 1px solid green;
}

img {
  width: 200px;
}